.available-day {
  background-color: #8ecae6 !important;
}

.react-calendar__tile--now {
  background-color: #ffb703 !important; /* Bright Yellow */
  color: #000 !important; /* Black text */
  font-weight: bold;
}

.react-calendar__tile--active {
  background-color: #219ebc !important; /* Green */
  color: white !important;
  font-weight: bold;
}
